/* Allgemeine Stile */
body {
  background-color: red;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Zahnrad-Button für Einstellungen */
#settings-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 50%;
  transition: background-color 0.3s;
  z-index: 1000; /* Sicherstellen, dass das Zahnrad oben liegt */
}

#settings-btn:hover {
  background-color: #555;
}

/* Kamera-Container und Blöcke */
#camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.camera-block {
  display: flex;
  align-items: flex-start;
  background-color: #222;
  border: 2px solid #444;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}

.camera-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1.5em;
  color: #bbb;
  padding: 5px;
  margin-right: 10px;
  align-self: center;
}

/* Preset-Container und einzelne Presets */
.presets {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
  width: 100%;
}

.preset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail-container {
  position: relative;
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 150px;
  height: 112px;
  background-color: #666;
  margin-right: 10px;
}

.preset-label {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 0.9em;
  padding: 2px;
}

/* Steuerungselemente (Speichern und Löschen) */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.controls button {
  font-size: 0.6em;
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  margin-bottom: 4px;
}

.controls button:hover {
  background-color: #555;
}
